@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Code_First_MemberShip_Provider.Models.ContactInformation>

@{
    ViewBag.Title = "Get All Faculty Contact Information";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TelePhonNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().BloodGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelePhonNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
             
                @Html.ActionLink("Details", "GetFacultyContactDetails", new { id = item.UserId })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("GetAllFacultyContactInfo", new { page }))